body {
  background: #ecc87b;
}

.mainContainer,
.navPusher,
.navPusher>.docMainWrapper>.mainContainer {
  background: #fff;
}

@media screen and (min-width: 1024px) {
  .navPusher> :first-child {
    flex-grow: 0;
  }
  #footer {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.nav-footer {
  background: #ecc87b;
}

.nav-footer .copyright {
  color: #a28036;
  opacity: .4;
}

.nav-footer .sitemap h5 {
  color: #a28036;
  font-size: 20px;
}

.nav-footer .sitemap a {
  color: #a28036;
  opacity: .6;
}

.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
  color: #a28036;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lobster, sans-serif !important;
  font-weight: 400 !important;
}