.homeContainer {
  background: #a28036;
}

.homeContainer .section.logo {
  display: inline-block !important;
  margin-bottom: 0%;
}

.homeContainer .section.logo>img {
  width: 15%;
}

@media(min-width: 480px) {
  .homeContainer .section.logo>img {
    width: 25%;
  }
}

@media(min-width: 736px) {
  .homeContainer .section.logo>img {
    width: 40%;
  }
}

.homeContainer .projectTitle {
  color: #fff;
}

.pluginWrapper.buttonWrapper>.button {
  background: #fff;
  border: 0 none;
  color: #a28036;
  font-size: 18px;
  margin: 13px;
  text-transform: none;
}

.pluginWrapper.buttonWrapper>.button:hover {
  background: #ecc87b;
}

.mainContainer .darkBackground h2 p {
  /*color: #fbae18;*/
  font-size: 30px;
}