.homeContainer {
  background: #29303a;
}

.homeContainer .section.logo {
  display: inline-block !important;
  margin-bottom: 4%;
}

.homeContainer .section.logo > img {
  width: 15%;
}

@media(min-width: 480px) {
  .homeContainer .section.logo > img {
    width: 25%;
  }
}

@media(min-width: 736px) {
  .homeContainer .section.logo > img {
    width: 40%;
  }
}

.homeContainer .projectTitle {
  color: #fff;
}

.pluginWrapper.buttonWrapper > .button {
  background: #0099cc;
  border: 0 none;
  color: #29303a;
  font-size: 18px;
  margin: 13px;
  text-transform: none;
}

.pluginWrapper.buttonWrapper > .button:hover {
  color: #fff;
}

.mainContainer .darkBackground h2 p {
  /*color: #fbae18;*/
  font-size: 30px;
}
